body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #ffffff;
background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25'%3E%3Cdefs%3E%3ClinearGradient id='a' gradientUnits='userSpaceOnUse' x1='0' x2='0' y1='0' y2='100%25' gradientTransform='rotate(240)'%3E%3Cstop offset='0' stop-color='%23203A43'/%3E%3Cstop offset='1' stop-color='%235DB0D4'/%3E%3C/linearGradient%3E%3Cpattern patternUnits='userSpaceOnUse' id='b' width='540' height='450' x='0' y='0' viewBox='0 0 1080 900'%3E%3Cg fill-opacity='0.1'%3E%3Cpolygon fill='%23444' points='90 150 0 300 180 300'/%3E%3Cpolygon points='90 150 180 0 0 0'/%3E%3Cpolygon fill='%23AAA' points='270 150 360 0 180 0'/%3E%3Cpolygon fill='%23DDD' points='450 150 360 300 540 300'/%3E%3Cpolygon fill='%23999' points='450 150 540 0 360 0'/%3E%3Cpolygon points='630 150 540 300 720 300'/%3E%3Cpolygon fill='%23DDD' points='630 150 720 0 540 0'/%3E%3Cpolygon fill='%23444' points='810 150 720 300 900 300'/%3E%3Cpolygon fill='%23FFF' points='810 150 900 0 720 0'/%3E%3Cpolygon fill='%23DDD' points='990 150 900 300 1080 300'/%3E%3Cpolygon fill='%23444' points='990 150 1080 0 900 0'/%3E%3Cpolygon fill='%23DDD' points='90 450 0 600 180 600'/%3E%3Cpolygon points='90 450 180 300 0 300'/%3E%3Cpolygon fill='%23666' points='270 450 180 600 360 600'/%3E%3Cpolygon fill='%23AAA' points='270 450 360 300 180 300'/%3E%3Cpolygon fill='%23DDD' points='450 450 360 600 540 600'/%3E%3Cpolygon fill='%23999' points='450 450 540 300 360 300'/%3E%3Cpolygon fill='%23999' points='630 450 540 600 720 600'/%3E%3Cpolygon fill='%23FFF' points='630 450 720 300 540 300'/%3E%3Cpolygon points='810 450 720 600 900 600'/%3E%3Cpolygon fill='%23DDD' points='810 450 900 300 720 300'/%3E%3Cpolygon fill='%23AAA' points='990 450 900 600 1080 600'/%3E%3Cpolygon fill='%23444' points='990 450 1080 300 900 300'/%3E%3Cpolygon fill='%23222' points='90 750 0 900 180 900'/%3E%3Cpolygon points='270 750 180 900 360 900'/%3E%3Cpolygon fill='%23DDD' points='270 750 360 600 180 600'/%3E%3Cpolygon points='450 750 540 600 360 600'/%3E%3Cpolygon points='630 750 540 900 720 900'/%3E%3Cpolygon fill='%23444' points='630 750 720 600 540 600'/%3E%3Cpolygon fill='%23AAA' points='810 750 720 900 900 900'/%3E%3Cpolygon fill='%23666' points='810 750 900 600 720 600'/%3E%3Cpolygon fill='%23999' points='990 750 900 900 1080 900'/%3E%3Cpolygon fill='%23999' points='180 0 90 150 270 150'/%3E%3Cpolygon fill='%23444' points='360 0 270 150 450 150'/%3E%3Cpolygon fill='%23FFF' points='540 0 450 150 630 150'/%3E%3Cpolygon points='900 0 810 150 990 150'/%3E%3Cpolygon fill='%23222' points='0 300 -90 450 90 450'/%3E%3Cpolygon fill='%23FFF' points='0 300 90 150 -90 150'/%3E%3Cpolygon fill='%23FFF' points='180 300 90 450 270 450'/%3E%3Cpolygon fill='%23666' points='180 300 270 150 90 150'/%3E%3Cpolygon fill='%23222' points='360 300 270 450 450 450'/%3E%3Cpolygon fill='%23FFF' points='360 300 450 150 270 150'/%3E%3Cpolygon fill='%23444' points='540 300 450 450 630 450'/%3E%3Cpolygon fill='%23222' points='540 300 630 150 450 150'/%3E%3Cpolygon fill='%23AAA' points='720 300 630 450 810 450'/%3E%3Cpolygon fill='%23666' points='720 300 810 150 630 150'/%3E%3Cpolygon fill='%23FFF' points='900 300 810 450 990 450'/%3E%3Cpolygon fill='%23999' points='900 300 990 150 810 150'/%3E%3Cpolygon points='0 600 -90 750 90 750'/%3E%3Cpolygon fill='%23666' points='0 600 90 450 -90 450'/%3E%3Cpolygon fill='%23AAA' points='180 600 90 750 270 750'/%3E%3Cpolygon fill='%23444' points='180 600 270 450 90 450'/%3E%3Cpolygon fill='%23444' points='360 600 270 750 450 750'/%3E%3Cpolygon fill='%23999' points='360 600 450 450 270 450'/%3E%3Cpolygon fill='%23666' points='540 600 630 450 450 450'/%3E%3Cpolygon fill='%23222' points='720 600 630 750 810 750'/%3E%3Cpolygon fill='%23FFF' points='900 600 810 750 990 750'/%3E%3Cpolygon fill='%23222' points='900 600 990 450 810 450'/%3E%3Cpolygon fill='%23DDD' points='0 900 90 750 -90 750'/%3E%3Cpolygon fill='%23444' points='180 900 270 750 90 750'/%3E%3Cpolygon fill='%23FFF' points='360 900 450 750 270 750'/%3E%3Cpolygon fill='%23AAA' points='540 900 630 750 450 750'/%3E%3Cpolygon fill='%23FFF' points='720 900 810 750 630 750'/%3E%3Cpolygon fill='%23222' points='900 900 990 750 810 750'/%3E%3Cpolygon fill='%23222' points='1080 300 990 450 1170 450'/%3E%3Cpolygon fill='%23FFF' points='1080 300 1170 150 990 150'/%3E%3Cpolygon points='1080 600 990 750 1170 750'/%3E%3Cpolygon fill='%23666' points='1080 600 1170 450 990 450'/%3E%3Cpolygon fill='%23DDD' points='1080 900 1170 750 990 750'/%3E%3C/g%3E%3C/pattern%3E%3C/defs%3E%3Crect x='0' y='0' fill='url(%23a)' width='100%25' height='100%25'/%3E%3Crect x='0' y='0' fill='url(%23b)' width='100%25' height='100%25'/%3E%3C/svg%3E");
background-attachment: fixed;
background-size: cover;
    background-size: cover;
  }

  a{
    text-decoration: none;
    color: black;
  }


.profile-container {
  margin-top: 60px; /* Adds 40px of space above the container */
  margin-bottom: 60px;
  max-width: 960px;
  margin-left: auto;
  margin-right: auto;
  background: linear-gradient(90deg, #FFFFFF -40%, #ffffff 100%);
  padding: 20px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  /* background : url('https://images.unsplash.com/photo-1506744038136-46273834b3fb') no-repeat center center fixed;  */
}


  .cover-photo {
    position: relative;
    height: 200px;
    background-image: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb');
    background-size: cover;
    background-position: center;
    border-radius: 8px;
  }

  .github-image , .linkedin-image{
    width: 32px;
    height: 32px;
  }

  .profile-picture {
    position: absolute;
    bottom: -75px; /* increased to offset larger image */
    left: 20px;
    border: 4px solid white;
    border-radius: 50%;
    width: 175px;  /* increased from 100px */
    height: 175px; /* increased from 100px */
    background-image: url('avatar3.png');
    background-size: cover;
    background-position: center;
  }
  .profile-details {
    margin-top: 60px;
    padding: 20px;
  }

  .name-domain {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .name-domain h1 {
    margin: 0;
  }

  .connections-email {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }

  .about-section {
    margin-top: 20px;
  }

  .about-section h2 {
    margin-bottom: 10px;
  }

  .about-section p {
    margin: 5px 0;
  }

  .links {
    margin-top: 10px;
  }

  .links a {
    margin-right: 10px;
    text-decoration: none;
    color: #0366d6;
  }

  .projects {
    margin-top: 20px;
    transition: all 0.3s;
  }

  .projects li {
      transition: all scale(1.02);
      background: linear-gradient(90deg, #FFFFFF -40%, 		#5db0d4 50%);
    }
    
    .projects li:hover {
        transition: scale(1.02);
    background: linear-gradient(270deg, #FFFFFF -40%, 	#427D96 50%);
    /* transition: all 0.2s; */
  }
  .projects h2 {
    margin-bottom: 10px;
  }

  .projects ul {
    list-style: none;
    padding: 0;
  }

  .projects li {
    background-color: #f0f0f0;
    margin: 5px 0;
    padding: 10px;
    border-radius: 4px;
  }
  .section {
background: linear-gradient(90deg, #FFFFFF -40%, 		#5db0d4 120%);
margin: 20px;
padding: 20px;
border-radius: 8px;
box-shadow: 0 0 10px rgba(0,0,0,0.05);
box-sizing: border-box;
/* transition: all 0.5s; */

}

.section:hover {
    transform: scale(1.05);
  }

.section_list{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.section h2 {
margin-top: 0;
margin-bottom: 15px;
color: #333;
}

.section ul {
list-style: none;
padding: 0;
}

.section li {
background: linear-gradient(90deg, #FFFFFF -40%, 		#5db0d4 120%);
margin: 2px 0;
padding: 10px;
border-radius: 4px;
transition: all 0.2s;
}
/* Feature Section */
.feature-section {
  padding: 0rem 1rem;
  background-color: #FFFFFF;
  text-align: center;
  background: #131345;
  background: linear-gradient(90deg, #FFFFFF -40%, 		#5db0d4 120%);
}
  .projects li:hover {
    transform: scale(1.02);
    background: linear-gradient(270deg, #FFFFFF -40%, 	#5db0d4 10%);
    /* transition: all 0.2s; */
  }

.feature-content {
  max-width: 1200px;
  margin: 0 auto;
  background: linear-gradient(90deg, #FFFFFF -40%, 		#5DB0D4 120%);
}
    
.feature1-grid {
  display: grid;
  grid-template-columns: repeat(4, minmax(250px, 500px));
  gap: 2rem;
  margin: 0 auto;
  padding: 0 1rem;
}

.feature1-header {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
  font-weight: bold;
  color: #222;
}
.feature1-anchor{
  text-decoration: none;
  color: white;
  max-width: 80%;
  margin: auto;
}

.feature1-engg{
  color: white;
}

.creator-header{
  font-size: 4rem;
  font-weight: bold;
}

.grid-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 12px;
  color: white;
  transition: transform 0.3s ease;
  text-align: center;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}

.grid-card img {
  width: 100px;
  height: 100px;
  object-fit: contain;
  margin-bottom: 1rem;
}

.grid-card p {
  margin: 0.5rem 0;
  font-size: 0.95rem;
  line-height: 1.4;
}

.creator-field{
  font-size: 1.5rem;
  color: white;
}

.feature2-grid-card{
  background-color: #541388;
}

.feature3_header{
  font-size: 3rem;
}

.vision-para{
  font-size: 1.5rem;
}

.feature-content{
  background-color: white;
}

/* Hover effect */
.grid-card:hover {
  transform: scale(1.05);
  transition: all 0.2s;
  background: linear-gradient(90deg, #FFFFFF -40%, 		#5db0d4  80%);
}

/* 4 Unique Colors */
.card1 { background: linear-gradient(270deg, #FFFFFF -40%, 	#5db0d4 50%); }/* SlateBlue */
.card2 { background: linear-gradient(270deg, #FFFFFF -40%, 	#5db0d4 50%); }   /* LightSeaGreen */
.card3 { background: linear-gradient(270deg, #FFFFFF -40%, 	#5db0d4 50%); }   /* LightSalmon */
.card4 { background: linear-gradient(270deg, #FFFFFF -40%, 	#5db0d4 50%); }   /* MediumPurple */


.feature1-grid {
display: grid;
grid-template-columns: repeat(3, 1fr); /* 3 cards per row */
gap: 1.5rem;
padding: 1rem 0;
}

.feature-content {
background-color: white;
width: 100%;
box-sizing: border-box;
padding: 1rem;
}
/* Footer */
footer {
  background: #222;
  color: #ccc;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.footer-section {
  flex: 1 1 200px;
  margin: 1rem;
}

.footer-section h4 {
  margin-bottom: 0.5rem;
  color: #fff;
}

.footer-section a {
  color: #ccc;
  display: block;
  text-decoration: none;
  margin: 0.3rem 0;
}

.footer-section a:hover {
  text-decoration: underline;
}



.feature2-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem ;
}
.feature2-anchor{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-decoration: none;
  color: black;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}

.feature2-img{
  width: 10rem;
  height: 10rem;
  
}

.feature2-grid-card{
  border: 2px solid black;
  box-shadow: 6px 6px 2px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease;
}
.feature2-grid-card:hover{
  transform: scale(1.05);
}